:root {
  /* Font variables */
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Sora', sans-serif;

  /* Light mode color variables */
  --color-text-primary:   #ffffff;
  --color-text-secondary: #2c2c2c;
  --color-link: #0000af;
  
  --color-bg-main: #5b21b6;
  --color-bg-secondary: #c026d3;
  
  --color-accent: #f9f366;
  
  --color-divider: rgba(255, 255, 255, 0.457);
  --color-blog-highlight: #ffffff23;
  
  --color-project-bg: #fff;

  --color-overlay: transparent;

  --color-logo: black;

  --pimg-size: 480px;

  --narrow: 450px;
  --phone: 768px;
  --tablet: 1024px;
  --desktop: 1920px;

  font-family: var(--font-primary);

  
}


body {
  background-image: radial-gradient( #d8b4fe, #f5d0fe, white);
}

.disabled {
  pointer-events: none;
}

.disabled > * {
  pointer-events: none;
}

/* Disable hover effects on touch screens/smaller screens */
/* @media (hover: none) and (pointer: coarse) {
  *:hover {
    background-color: inherit !important;
    color: inherit !important;
    border: inherit !important;
    box-shadow: inherit !important;
    transform: inherit !important;
    text-decoration: none !important;
    animation: none !important;
    transition: none !important;
    fill: inherit !important;
  }
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
