@keyframes hideVisibility {
    0% { visibility: visible; }
    100% { visibility: hidden; }
  }
  
  

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: top;

    transition: max-height 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scaleY(0);
    max-height: 0;
    visibility: hidden;
}

.visible{
    visibility: visible;
    max-height: 500px;
    transform: scaleY(1);

}

.container:not(.visible) {
    animation: hideVisibility 0.4s ease forwards;
  }