.container{
    
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}


.textBox{
    

    width: 100%;
    box-sizing: border-box;
    
    border-radius: 15px;
    

    padding: 18px 18px 50px 18px;
    resize: none;
    font-family: "sora";
    font-size: 1rem;
    border: none;
    
}

.postImgContainer{
    position: relative;
}

.closeSVG{
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: gray;
}

.closeSVG:hover {
    background-color: #f3f3f3;
    color: black;
}

.postImg{
    max-width: 100%;
    object-fit: contain;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    
    
    padding: 1rem;

    flex-wrap: wrap;
}


/* Image upload button */

.uploadButton {

}

.uploadButton > *[data-ut-element="button"] {
    background-color: transparent;

    display: flex;
    gap: 10px;
    
    color: #c084fc;
    border: none;
    box-sizing: border-box;

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border-radius 0.4s ease-in-out;
}

.uploadButton > *[data-ut-element="button"]:hover {
    
    color: #6b21a8;

    fill: #6b21a8;
}

.uploadButton > *[data-ut-element="button"] > input {
    
}

.uploadSVG {
    width: 30px;
    height: 30px;
    fill: #c084fc;

    transition: fill 0.2s ease-in-out
}

.uploadButton > *[data-ut-element="button"]:hover .uploadSVG{
    fill: #6b21a8;
    

}


/* post button styling */

.postButton{
    width: 7rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    background-color: #6b21a8;
    color: white;
    border: none;
    border-radius: 25px;

    font-size: 1.15rem;
    
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border-radius 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer;

}

.postButton:hover{
    background-color: #f3e8ff;
    border: 4px solid #c084fc;
    color: #6b21a8;
}

.disabled > * {
    pointer-events: none;
}


@media (max-width: 352px) {
    .buttonsContainer {
        justify-content: center;
        gap: 1rem; 
    }
}