.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 520px;
    
    
}

@media (min-width: 768px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 1280px) {
    .container {
        
    }
}



@media (min-width: 3000px) {
    .container {
        min-width: 40%;
        max-width: 40%;
    }

}









