.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to left top, #5b21b6, #e879f9);
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    gap: 16px;
    width: 20%;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Shadow effect */
}

.logoContainer {
    height: 150px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.logo {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    height: auto;
    width: auto;
    border-radius: 0;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 70%;
}

.fieldContainer{

}

.fieldLabel{
    font-size: 14px;
}

.inputField{
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 15px;
}

.errorMsg{
    font-size: 14px;
    color: red;
}

.formButton{
    border: 2px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: black;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
     
}

.formButton:hover{
    background-color: #f3e8ff;
    border: 2px solid #c084fc;
    color: #5b21b6;
}

.forgotButton {
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    color: #f0abfc;
    
}

.forgotButton:hover{
    text-decoration: underline;
}



