.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px 8px 25px;
    width: 90%;
    align-self: center;

    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #6d28d9;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#logo {
    width: 200px;
    height: 80px;
    fill: #c084fc;
}



.buttonsContainer{
    display: flex;
    gap: 20px; justify-content: center;
    align-items: center;
}


#profile{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.svg{
    width: 45px;
    height: 45px;
    fill: #c084fc;
    transition: fill ease-in-out 0.3s;
}

.svg:hover{
    fill: purple;
}