.container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px 8px 25px;
    width: 100%;
    align-self: center;
    
    
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #ddd6fe;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#logo {
    width: 200px;
    height: 50px;
    fill: #c084fc;
    cursor: pointer;
}



.buttonsContainer{
    display: flex;
    gap: 20px; justify-content: center;
    align-items: center;

    position: relative;
}


#profile{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.svg{
    width: 30px;
    height: 30px;
    fill: #c084fc;
    transition: fill ease-in-out 0.3s;
    cursor: pointer;
}

.svg:hover{
    fill: purple;
}

.friendRequestsList {
    position: absolute;
    top: 60px; 
    right: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 100%;
    max-width: 300px; 
    z-index: 100;
  }
  
  .requestItem {
    display: flex;
    align-items: center;
    
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .reqInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .reqButtonsContainer{
    display:flex;
    gap: 1rem;
  }
  
  .requestItem img {
    border-radius: 50%;
    aspect-ratio: 1;
    height: 50px;
  }

  .accept, .reject {
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
    padding: 8px;
    border: none;
    border-radius: 15px;
  }

  .accept {
    background-color: #22c55e;
  }

  .reject {
    background-color: #ef4444;
  }
  

  .noRequestsMessage {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    color: #6b7280; 
  }
  

  .logoutButton {
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    color: #c084fc; 
    transition: color 0.3s ease-in-out;
  }
  
  .logoutButton:hover {
    color: #b91c1c; 
  }
  
  .logoutButton svg {
    fill: currentColor;
  }
  
  

  @media (max-width: 400px) {
    .container{
      padding: 2px;
    }
  }