
.pageContainer{
    
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    
    
}


.feed{
    display: flex;
    justify-content: center;
    max-width: 100%;
}