
.pageContainer{
    
    display: flex;
    flex-direction: column;
    background-color: whte;
    background-image: radial-gradient( #d8b4fe, #f5d0fe, white);
    
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    
    
}


.feed{
    display: flex;
    justify-content: center;
    max-width: 100%;
}