.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to left top, #5b21b6, #e879f9);
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    gap: 16px;

    width: 100%;
    max-width: 400px;

    
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Shadow effect */
}

.logoContainer {
    height: 150px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.logo {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    height: auto;
    width: auto;
    border-radius: 0;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 70%;
}

.fieldContainer{
    width: 100%;

}

.fieldLabel{
    font-size: 14px;
    font-weight: 600;
}

.inputField{
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 15px;
    
    border: 1px solid transparent;
    
    background-color: rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s ease;
}

.inputField:focus{
    border-color: #e879f9;
    outline:none;
    
    box-shadow: none;
}

.inputField::placeholder {
    color: #888; 
  }

.errorMsg{
    font-size: 14px;
    color: red;
}

.formButton{
    display: flex;
    align-items: center;
    justify-content: center;


    border: 2px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: black;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;

    width: 100%;
     
}

.formButton:hover{
    background-color: #f3e8ff;
    border: 2px solid #c084fc;
    color: #5b21b6;
}

.forgotButton {
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    color: #f0abfc;
    
}

.forgotButton:hover{
    text-decoration: underline;
}


@media (max-width:600px) {
    .formContainer{
        border: none;
        box-shadow: none;
        width: 100%;
        max-width: none;
        
    }

    .formButton{
        width: 100%;
    }
}


@media (min-width: 2200px) {
    .formContainer{
        max-width: 800px;
    }
}


