.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    visibility: hidden; /* Start hidden */
    z-index: 10;
}

.modalContent {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    transform: scale(1.25);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 20;
    width: 100%;
    max-width: 500px;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: gray;
}

.closeButton:hover {
    background-color: #f3f3f3;
    color: black;
}

.visible {
    visibility: visible;
}

.scale100 {
    transform: scale(1);
    opacity: 1;
}



@media (min-width: 2800px){
    .modalContent{
        max-width: 30%;
    }
    
}

