.wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    box-sizing: border-box;
}

.userContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.profile{
    align-self: center;
    justify-self: flex-start;
    display: flex;

    gap: 2rem;

    padding: 15px;
}

.userPicture{
    aspect-ratio: 1;
    width: 90px;
    border-radius: 50%;
    
}

.usernameContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.username{
    font-size: 2rem;
    color: #0f172a;
    font-weight: 600;
}

.content{
    width: 80%;
    display: flex;
    gap: 40px;
    padding: 40px;
}

.sidBar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.userPosts{
    flex: 2;
}





.addFriendButton{
    display: flex;
    
    box-sizing: border-box;
    padding: 1rem;
    gap: 10px;

    border-radius: 25px;
    background-color: #ddd6fe;

    transition: background-color 0.4s ease-in-out; 
}

.addFriendSVG{
    width: 20px;
    height: 20px;

    fill: white;
}

.addFriendText{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.addFriendButton:hover{
    background-color: #8b5cf6;
}