.wrapper {

    display: flex;
    flex-direction: column;
    background-image: radial-gradient( #d8b4fe, #f5d0fe, white);

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: radial-gradient( #d8b4fe, #f5d0fe, white);
}


.settingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 100%;
    box-sizing: border-box;
    padding: 12px;

}


.profileContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.profile{
    border-radius: 50%;
    aspect-ratio: 1;
    width: 100%;
    max-width: 200px;
    object-fit: cover;
}

.aboutMeContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    width: 100%;
    max-width: 600px;
    



}


/*Uploadthing button styling */

.uploadButton {

}

.uploadButton > *[data-ut-element="button"] {
    background-color: #6b21a8;
    color: white;
    border: none;
    box-sizing: border-box;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, border-radius 0.4s ease-in-out;
}

.uploadButton > *[data-ut-element="button"]:hover {
    background-color: #f3e8ff;
    border: 4px solid #c084fc;
    color: #6b21a8;

    fill: #6b21a8;
}

.uploadButton > *[data-ut-element="button"] > input {
    
}

.uploadSVG {
    width: 24px;
    height: 24px;
    fill: #f3e8ff;

    transition: fill 0.2s ease-in-out
}

.uploadButton > *[data-ut-element="button"]:hover .uploadSVG{
    fill: #6b21a8;
    

}

.abtMeFormContainer{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    
    
}

.abtMeHeader{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "sora";
}

.textBox{
    

    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    
    
    border-radius: 15px;
    

    padding: 18px 18px 50px 18px;
    resize: none;
    font-family: "sora";
    font-size: 1rem;
    overflow: auto;
    
    
    
}



.abtMeButton{
    position: absolute;
    bottom:10px;
    right: 10px;


    border-radius: 15px;
    background-color: #c084fc;
    color: #f3e8ff;
    font-size: 1rem;
    padding: 8px;
    border: none;
    
}


